@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
:root  {
  --background: 183 100% 95%;
  --foreground: 183 5% 0%;
  --card: 183 50% 90%;
  --card-foreground: 183 5% 10%;
  --popover: 183 100% 95%;
  --popover-foreground: 183 100% 0%;
  --primary: 183 51% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 145 30% 85%;
  --muted-foreground: 183 5% 35%;
  --accent: 145 30% 80%;
  --accent-foreground: 183 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 183 5% 90%;
  --border: 183 30% 50%;
  --input: 183 30% 18%;
  --ring: 183 51% 57%;
  --radius: 0.5rem;
}
.dark  {
  --background: 183 50% 5%;
  --foreground: 183 5% 90%;
  --card: 183 50% 0%;
  --card-foreground: 183 5% 90%;
  --popover: 183 50% 5%;
  --popover-foreground: 183 5% 90%;
  --primary: 183 51% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 145 30% 15%;
  --muted-foreground: 183 5% 60%;
  --accent: 145 30% 15%;
  --accent-foreground: 183 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 183 5% 90%;
  --border: 183 30% 18%;
  --input: 183 30% 18%;
  --ring: 183 51% 57%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}